@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@400;700&family=Raleway:wght@400;600;800&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    background-color: #b2c541;
}
.container {
    width: 50vw;
    min-height: 50vh;

    background:  rgb(3, 27, 60);
    border-radius: 15px;

    margin: 0 auto;
    margin-top: 40px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {

    font-weight: 700;
    font-size: 42px;

    color: #fff;

    text-align: center;
}

form {
    margin: 0 auto;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.task__text {
    width: 30vw;
    height: 38px;

    border: none;
    border-radius: 15px;

    box-sizing: border-box;

    font-weight: 600;
}

.task__text:hover, .task__text:active, .task__text:focus {
    -webkit-box-shadow:0px 0px 22px 0px rgba(255,255,255,0.24);
    -moz-box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.24);
    box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.24);
}

.add__task {

    width: 38px;
    height: 38px;

    border-radius: 38px;
    border: none;

    margin-left: 10px;

    background: url('../img/new-task.svg') no-repeat center #b2c541;
}

.todo__list {
    color:#fff;
    text-align: left;

    width: 30vw;

    display: flex;
    flex-direction: column;
}

li {
    height: 30px;

    position: relative;

    margin-top: 5px;

    display: flex;
    align-items: center;

}

li::after {
    content: "";

    width: 20vw;
    height: 1px;

    background-color: rgba(255,255,255,0.24);

    position: absolute;
    left: 0;
    bottom: 5px;
}

.button__complete {
    margin-left: 10px;
}

.task__complete {
    color: red;
    text-decoration: line-through;
}

.odd:nth-child(odd) {
    background-color: #796d6d;
}

.even:nth-child(even) {
    background-color: #8982bc;
}